# Scraping
requests
# Data Analysis
# numpy
pandas
scipy
# Models
scikit-learn
xgboost
# Plots
matplotlib
plotly[kaleido]
# Cute stuff
tqdm
# Jupyter
ipykernel
jupyter
notebook
# Wavelet analysis
PyWavelets
# ARIMA analysis
statsmodels
pmdarima
openpyxl
seaborn
numpy>=1.21.2,<2.0.0
psutil
#
duckdb
# NN
torch
pyro-ppl
gpytorch
sbi